.pp-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-top: 4px;
}

.pp-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
  padding-bottom: 4px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.pp-clearButton {
  padding: 3px 6px;
  border-radius: 4px;
}

.pp-list {
  flex: 1;
}

.pp-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.pp-item {
  padding: 8px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.pp-itemHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 4px;
  gap: 8px;
}

.pp-entryType {
  padding: 0 6px;
  border-radius: 2px;
}

.pp-fcpMetricHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.pp-fcpHighlight {
  padding: 4px 8px;
  border-radius: 4px;
  margin-top: 4px;
}

.pp-metrics {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.pp-metric {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding: 4px 8px;
  border-radius: 2px;
}

.pp-metricName {
  min-width: 100px;
  flex-shrink: 0;
}

.pp-metricValue {
  flex: 1;
}

.pp-detailsContainer {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.pp-fcpSection {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.pp-fcpMetric {
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.pp-fcpMetricFormula {
  font-family: monospace;
}

.pp-rawEntrySection {
  padding: 12px;
  border-radius: 4px;
}

.pp-rawEntry {
  font-family: monospace;
  white-space: pre-wrap;
  word-break: break-all;
}
