.t1  { font-size: 0.6875rem;  line-height: 0.9375rem; }
.t2  { font-size: 0.75rem;    line-height: 1rem; }
.t3  { font-size: 0.8125rem;  line-height: 1.125rem; }
.t4  { font-size: 0.875rem;   line-height: 1.1875rem; }
.t5  { font-size: 1rem;       line-height: 1.375rem; }
.t6  { font-size: 1.125rem;   line-height: 1.5rem; }
.t7  { font-size: 1.25rem;    line-height: 1.6875rem; }
.t8  { font-size: 1.375rem;   line-height: 1.875rem; }
.t9  { font-size: 1.5rem;     line-height: 2rem; }
.t10 { font-size: 1.625rem;   line-height: 2.1875rem; }
