:root {
  --lynx-console-font-weight-regular: 400;
  --lynx-console-font-weight-medium: 500;
  --lynx-console-font-weight-bold: 700;
  --lynx-console-duration-d4: 200ms;
  --lynx-console-duration-d6: 300ms;
  --lynx-console-dimension-x2: 8px;
  --lynx-console-dimension-x3: 12px;
  --lynx-console-dimension-x4: 16px;
  --lynx-console-dimension-x6: 24px;
  --lynx-console-dimension-spacing-x-global-gutter: 16px;
  --lynx-console-radius-r6: 24px;
}

.data-lynx-console-color-mode__light-only {
  --lynx-console-color-palette-blue-100: #eff6ff;
  --lynx-console-color-palette-blue-600: #5e98fe;
  --lynx-console-color-palette-gray-100: #f7f8f9;
  --lynx-console-color-palette-gray-400: #dcdee3;
  --lynx-console-color-palette-green-100: #edfaf6;
  --lynx-console-color-palette-green-600: #10ab7d;
  --lynx-console-color-palette-purple-100: #f5f3fe;
  --lynx-console-color-palette-purple-600: #9f84fb;
  --lynx-console-color-palette-red-100: #fdf0f0;
  --lynx-console-color-palette-red-600: #fc6a66;
  --lynx-console-color-palette-red-900: #921708;
  --lynx-console-color-palette-static-white: #ffffff;
  --lynx-console-color-palette-yellow-100: #fff7de;
  --lynx-console-color-palette-yellow-600: #c49725;
  --lynx-console-color-palette-yellow-900: #4f3e1f;
  --lynx-console-color-fg-neutral: #1a1c20;
  --lynx-console-color-fg-placeholder: #b0b3ba;
  --lynx-console-color-fg-disabled: #d1d3d8;
  --lynx-console-color-fg-neutral-muted: #555d6d;
  --lynx-console-color-fg-neutral-subtle: #868b94;
  --lynx-console-color-bg-overlay: #00000074;
  --lynx-console-color-bg-layer-default: #ffffff;
  --lynx-console-color-bg-layer-floating: #ffffff;
  --lynx-console-color-bg-neutral-weak: #f3f4f5;
  --lynx-console-color-stroke-neutral-subtle: #0000000c;
  --lynx-console-color-stroke-neutral-weak: #dcdee3;
}

.data-lynx-console-color-mode__dark-only {
  --lynx-console-color-palette-blue-100: #202742;
  --lynx-console-color-palette-blue-600: #1e82eb;
  --lynx-console-color-palette-gray-100: #16171b;
  --lynx-console-color-palette-gray-400: #393d46;
  --lynx-console-color-palette-green-100: #202926;
  --lynx-console-color-palette-green-600: #1b946d;
  --lynx-console-color-palette-purple-100: #28213b;
  --lynx-console-color-palette-purple-600: #8e6bee;
  --lynx-console-color-palette-red-100: #322323;
  --lynx-console-color-palette-red-600: #f73526;
  --lynx-console-color-palette-red-900: #f8c5c3;
  --lynx-console-color-palette-static-white: #ffffff;
  --lynx-console-color-palette-yellow-100: #302819;
  --lynx-console-color-palette-yellow-600: #b6720d;
  --lynx-console-color-palette-yellow-900: #e5d49b;
  --lynx-console-color-fg-neutral: #f3f4f5;
  --lynx-console-color-fg-placeholder: #868b94;
  --lynx-console-color-fg-disabled: #5b606a;
  --lynx-console-color-fg-neutral-muted: #dcdee3;
  --lynx-console-color-fg-neutral-subtle: #b0b3ba;
  --lynx-console-color-bg-overlay: #00000074;
  --lynx-console-color-bg-layer-default: #16171b;
  --lynx-console-color-bg-layer-floating: #1d2025;
  --lynx-console-color-bg-neutral-weak: #2b2e35;
  --lynx-console-color-stroke-neutral-subtle: #ffffff0d;
  --lynx-console-color-stroke-neutral-weak: #393d46;
}
